body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 20px;
    margin: 0px;
}

.container {
    padding: 0 15px;
    margin: auto;
}

/* header */

header * {
    margin: 0px;
    color: black;
}

#header-overlay {
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to right, hsla(0, 0%, 0%, 0), rgba(255, 255, 255, 0.6));
}

header {
    height: 80px;
    width: 100%;
    background-color: #bd574b;
}

header .container {
    padding: 20px 0px;
}

header h2 {
    display: block;
    float: left;
}

header nav {
    float: right;
    font-size: 21px;
}

header nav2 {
    text-align: center;
    width: 100%;
    height: 400px;
}

nav li {
    float: left;
    margin-right: 25px;
    cursor: pointer;
}

/* Account */

#flex-container {
    width: 100vw;
    min-height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
}

#info {
    text-align: center;
    margin: 150px 0;
    width: 40vw;
}

#avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#info ul {
    padding: 0;
}

#edit {
    text-align: center;
    display: none;
    margin: 150px 0;
    width: 50vw;
}

/* footer */

footer {
    font-size: 18px;
    height: 70px;
    width: 100%;
    background-color: #bd574b;
}

#footer-overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, hsla(0, 0%, 0%, 0), rgba(255, 255, 255, 0.6));
}

footer nav {
    padding: 25px 0 10px 0;
    height: 30px;
}

/* global */

@media screen and (max-width: 990px) {
    #flex-container {
        flex-direction: column;
    }

    #info {
        margin: auto;
    }

    #edit {
        margin: auto;
    }

    #bars div {
        background-color: black;
        width: 30px;
        height: 3px;
        margin: 4px 0;
    }

    #bars {
        float: right;
        cursor: pointer;
        margin-right: 15px;
    }

    header h2 {
        float: left;
        text-align: center;
        margin-bottom: 30px;
        margin-left: 38vw;
    }

    header nav {
        display: none;
        float: none;
        text-align: center;
        width: 100%;
        height: fit-content;
    }

    header nav li {
        float: none;
        margin-bottom: 20px;
    }

    #arrow {
        display: none;
    }

    #characters {
        grid-template-columns: 1fr 1fr 1fr;
    }

    body {
        font-size: 16px;
    }

    footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    #characters {
        grid-template-columns: 1fr 1fr;
    }

    .character {
        width: 120px;
        height: 200px;
    }
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

* {
    text-decoration: none;
    list-style-type: none;
}