body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 20px;
    margin: 0px;
    overflow-x: hidden;
}

a {
    color: black;
}

.container {
    padding: 0 15px;
    margin: auto;
}

/* header */

header * {
    margin: 0px;
    color: black;
}

#header-overlay {
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to right, hsla(0, 0%, 0%, 0), rgba(255, 255, 255, 0.6));
}

header {
    height: 80px;
    width: 100%;
    background-color: #bd574b;
}

header .container {
    padding: 20px 0px;
}

header h2 {
    display: block;
    float: left;
}

header nav {
    float: right;
    font-size: 21px;
}

header nav2 {
    text-align: center;
    width: 100%;
    height: 400px;
}

nav li {
    float: left;
    margin-right: 25px;
    cursor: pointer;
}

#flex-container {
    min-height: calc(100vh - 150px);
    display: flex;
}

/* content */

#content {
    width: 700px;
    min-height: calc(100vh - 27.722px - 80px - 70px);
    margin: auto;
}

#post {
    text-align: center;
}

#post h2, h5 {
    text-align: left;
}

#post p {
    margin-left: 30px;
    text-align: left;
}

img {
    max-width: 600px;
    height: auto;
}

video {
    max-width: 600px;
    height: auto;
}

/* comments */

#allComments {
    padding: 0px;
}

#profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

textarea {
    display: block;
    width: 600px;
    height: 30px;
    resize: none;
    padding: 6px 9px;
}

#comment {
    border: black solid 1px;
    padding: 25px 30px;
    margin-bottom: 10px;
    position: relative;
}

#x {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
}

#x:hover {
    background-color: #f44336;
    color: white;
}

#comment-section {
    padding: 50px;
    text-align: left;
    margin: 7% auto 0px auto;
    width: 450px;
    height: 550px;
    background-color: white;
    position: relative;
}

#comment-section textarea {
    resize: none;
    width: 360px;
    height: 60px;
    float: left;
}

#comment-section img {
    width: 300px;
    height: auto;
}

/* footer */

footer {
    font-size: 18px;
    height: 70px;
    width: 100%;
    background-color: #bd574b;
}

#footer-overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, hsla(0, 0%, 0%, 0), rgba(255, 255, 255, 0.6));
}

footer nav {
    padding: 25px 0 10px 0;
    height: 30px;
}

/* global */

@media screen and (max-width: 990px) {
    #content {
        width: 290px;
        margin: auto;
    }

    textarea {
        width: 270px;
    }

    img, video {
        width: 240px;
        height: auto;
    }

    #bars div {
        background-color: black;
        width: 30px;
        height: 3px;
        margin: 4px 0;
    }

    #bars {
        display: block;
        float: right;
        cursor: pointer;
    }

    header h2 {
        float: left;
        text-align: center;
        margin-bottom: 30px;
        margin-left: calc(50% - 52px);
        margin-right: calc(50% - 37px - 52px);
    }

    header nav {
        display: none;
        float: none;
        text-align: center;
        width: 100%;
        height: fit-content;
    }

    header nav li {
        float: none;
        margin-bottom: 20px;
    }

    body {
        font-size: 16px;
    }

    footer {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

* {
    text-decoration: none;
    list-style-type: none;
}