<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/planet-express.png">
    <link rel="stylesheet" href="../static/style/style_home.css">
    <title>Futurama | Acasa</title>
</head>
<body>
    <header id="header">
        <div id="header-overlay">
            <div class="container">
                <h2>Futurama</h2>
                <div id="bars">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <nav id="nav">
                    <ul>
                        <li><a href="/en"><img src="/static/images/country-icon/en.png" name="en" style="width: 34px"></a></li>

                        <li><a href="/ro">Acasa</a></li>
                        <li><a href="/ro/forum">Forum</a></li>
                        <li><a href="/ro/account">Contul meu</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <script>
        let k = 0;
        document.getElementById("bars").addEventListener("click", () => {
            if (k == 0) {
                document.getElementById("nav").style.display = "block";
                document.getElementById("header").style.height = "fit-content";
                k = 1;
            } else {
                document.getElementById("nav").style.display = "none";
                document.getElementById("header").style.height = "80px";
                k = 0;
            }
            console.log(k);
        });
        
    </script>
    
    <div id="back-ship">
        <div id="black-overlay">
            <div class="container">
                <div class="section">
                    <h1>E un Serial de Comedie</h1>

                    <p> &emsp; Futurama este un sitcom animat american de stiinta si fictiune, premiat cu Emmy, creat de <strong>Matt Groening</strong>. A rulat pe reteaua Fox Din 28 martie 1999 pana in 10 august 2003 cand a fost anulat, apoi a fost continuat sub forma a patru filme pe DVD, urmate de alte doua sezoane care au rulat pe Comedy Central.<br>
                        &emsp; Are 7 sezoane cu 140 de episoade in total, fiecare episod avand 22 de minute. Serialul foloseste o gama larga de tipuri de umor, cum ar fi <strong>autoironie</strong>, <strong>umor negru</strong>, <strong>glume vulgare</strong>, <strong>comedia de situatie</strong> si <strong>comedie suprearealista</strong>, sursa principala de umor fiind reprezentata de viata din viitor comparata cu viata din prezent.</p>
                    <div style="height: calc(100vh * 0.1);"></div>

                    <h1>Povestea de inceput</h1>
                    
                    <p>Philip J. Fry este un tanar de 25 de ani care livreaza pizza carui viata nu i se duce nicaieri. Din greseala s-a inghetat pe 31 decembrie 1999, se trezeste o mie de ani in viitor, avand o sansa la un nou inceput. Se duce sa lucreze pentru Compania Planet Express, cu servicii de livrare care transporta colete in tot universul. Echipa lui de livrare include capitanul navei, Leela, o femeie exraterestra cu un singur ochi si Bender, un robot cu defecte omenesti.</p>

                    <div id="arrow"><a href="#section-two">&#10148;</a></div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="section-two">
            <h1>Personaje Principale</h1>
            <div id="characters">
                <div class="character one">
                    <div id="char-overlay">
                        <h3>Philip J. Fry</h3>
                    </div>
                </div>
                <div class="character two">
                    <div id="char-overlay">
                        <h3>Bender</h3>
                    </div>
                </div>
                <div class="character three">
                    <div id="char-overlay">
                        <h3>Leela</h3>
                    </div>
                </div>
                <div class="character four">
                    <div id="char-overlay">
                        <h3>Amy Wong</h3>
                    </div>
                </div>
                <div class="character five">
                    <div id="char-overlay">
                        <h3>Professor Farnsworth</h3>
                    </div>
                </div>
                <div class="character six">
                    <div id="char-overlay">
                        <h3 style="transform: scaleX(-1);">Hermes Conrad</h3>
                    </div>
                </div>
                <div class="character seven">
                    <div id="char-overlay">
                        <h3>Zapp Brannigan</h3>
                    </div>
                </div>
                <div class="character eight">
                    <div id="char-overlay">
                        <h3>Zoidberg</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div id="footer-overlay">
            <div class="container">
                <nav>
                    &copy;2020 Valentin Popescu. Toate drepturile rezervate.
                </nav>
            </div>
        </div>
    </footer>

</body>
</html>