<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/planet-express.png">
    <link rel="stylesheet" href="../static/style/style_home.css">
    <title>Futurama | Home</title>
</head>
<body>
    <header id="header">
        <div id="header-overlay">
            <div class="container">
                <h2>Futurama</h2>
                <div id="bars">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <nav id="nav">
                    <ul>
                        <li><a href="/en"><img src="/static/images/country-icon/en.png" name="en" style="width: 34px"></a></li>

                        <li><a href="/ro">Home</a></li>
                        <li><a href="/ro/forum">Forum</a></li>
                        <li><a href="/ro/account">Account</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <script>
        let k = 0;
        document.getElementById("bars").addEventListener("click", () => {
            if (k == 0) {
                document.getElementById("nav").style.display = "block";
                document.getElementById("header").style.height = "fit-content";
                k = 1;
            } else {
                document.getElementById("nav").style.display = "none";
                document.getElementById("header").style.height = "80px";
                k = 0;
            }
            console.log(k);
        });

        window.addEventListener("resize", () => {
            if (window.innerWidth >= 990) {
                document.getElementById("nav").style.display = "block";
                document.getElementById("header").style.height = "80px";
            } else {
                document.getElementById("nav").style.display = "none";
            }
        });
    </script>
    
    <div id="back-ship">
        <div id="black-overlay">
            <div class="container">
                <div class="section">
                    <h1>IT'S A SITCOM</h1>
                    <p> &emsp; Futurama is an American animated science fiction sitcom created by <strong>Matt Groening</strong> that ran on Fox from March 28, 1999, to August 10, 2003, and aired reruns on Adult Swim from 2003 to 2007, before moving to Comedy Central from March 23, 2008 to September 4, 2013.<br>
                        &emsp; It has 7 seasons, with 140 episodes in total, every episode consists in 22 minutes. The series uses a wide range of styles of humor, including <strong>self-deprecation</strong>, <strong>black comedy</strong>, <strong>off-color humor</strong>, <strong>slapstick</strong>, and <strong>surreal humor</strong>, its primary source of comedy is its satirical depiction of everyday life in the future and its parodical comparisons to the present.</p>
                    
                    <div style="height: calc(100vh * 0.1);"></div>

                    <h1>The Story So Far...</h1>
                    <p>Philip J. Fry is a twenty-five-year-old pizza delivery boy whose life is going nowhere. When he accidentally freezes himself on December 31, 1999, he wakes up one thousand years in the future, and has a chance to make a fresh start. He goes to work for the Planet Express Corporation, a futuristic delivery service that transports packages to all five quadrants of the universe. His companions include the delivery ship's Captain, Leela, a beautiful one-eyed female alien who kicks some serious butt, and Bender, a robot with very human flaws.</p>
                    
                    <div id="arrow"><a href="#section-two">&#10148;</a></div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="section-two">
            <h1>Main Characters</h1>
            <div id="characters">
                <div class="character one">
                    <div id="char-overlay">
                        <h3>Philip J. Fry</h3>
                    </div>
                </div>
                <div class="character two">
                    <div id="char-overlay">
                        <h3>Bender</h3>
                    </div>
                </div>
                <div class="character three">
                    <div id="char-overlay">
                        <h3>Leela</h3>
                    </div>
                </div>
                <div class="character four">
                    <div id="char-overlay">
                        <h3>Amy Wong</h3>
                    </div>
                </div>
                <div class="character five">
                    <div id="char-overlay">
                        <h3>Professor Farnsworth</h3>
                    </div>
                </div>
                <div class="character six">
                    <div id="char-overlay">
                        <h3 style="transform: scaleX(-1);">Hermes Conrad</h3>
                    </div>
                </div>
                <div class="character seven">
                    <div id="char-overlay">
                        <h3>Zapp Brannigan</h3>
                    </div>
                </div>
                <div class="character eight">
                    <div id="char-overlay">
                        <h3>Zoidberg</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div id="footer-overlay">
            <div class="container">
                <nav>
                    &copy;2020 Valentin Popescu. All Rights Reserved.
                </nav>
            </div>
        </div>
    </footer>

</body>
</html>