<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futurama | Log in</title>
    <link rel="shortcut icon" href="../static/planet-express.png">
    <link rel="stylesheet" href="../static/style/style_login.css">
</head>
<body>
    <header id="header">
        <div id="header-overlay">
            <div class="container">
                <h2>Futurama</h2>
                <div id="bars">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <nav id="nav">
                    <ul>
                        <li><a href="/en/account"><img src="/static/images/country-icon/en.png" name="en" style="width: 34px"></a></li>
                        
                        <li><a href="/ro">Home</a></li>
                        <li><a href="/ro/forum">Forum</a></li>
                        <li><a href="/ro/account">Account</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <script>
        let k = 0;
        document.getElementById("bars").addEventListener("click", () => {
            if (k == 0) {
                document.getElementById("nav").style.display = "block";
                document.getElementById("header").style.height = "fit-content";
                k = 1;
            } else {
                document.getElementById("nav").style.display = "none";
                document.getElementById("header").style.height = "80px";
                k = 0;
            }
            console.log(k);
        });

        window.addEventListener("resize", () => {
            if (window.innerWidth >= 990) {
                document.getElementById("nav").style.display = "block";
                document.getElementById("header").style.height = "80px";
            } else {
                document.getElementById("nav").style.display = "none";
            }
        });
    </script>
    
    <div id="flex-container">
        <div id="info">
            <h1>Create an account</h1>
            <form action="/user_api/sign-up" method="post">
                <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required><br><br>
                <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required><br><br><!--  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$ -->
                <label for="password">Password: </label>
                    <input type="password" id="password" name="password" required><br><br>
                <label for="cpassword">Confirm password: </label>
                    <input type="password" id="cpassword" name="cpassword" required><br><br>

                <input type="submit" value="Submit" class="addBtn">
            </form>
        </div>

        <div id="register">
            <h1>Register</h1>
            <form action="/user_api/log-in" method="post">
                <label for="username_">Username:</label>
                    <input type="text" id="username_" name="username_" required><br><br>
                <label for="email_">Email:</label>
                    <input type="email" id="email_" name="email_" required><br><br>
                <label for="password_">Password: </label>
                    <input type="password" id="password_" name="password_" required><br><br>

                <input type="submit" value="Submit" class="addBtn">
            </form>
        </div>
      </div>

    <footer>
        <div id="footer-overlay">
            <div class="container">
                <nav>
                    &copy;2020 Valentin Popescu. All Rights Reserved.
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>